:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888
}

.button {
    font-size: 1cm;
    background-color: var(--bg-button);
    /*usamos as variáveis através de var*/
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    /*tira a sensação de click*/
}

/*Efeito para deixar o botão mais escuro quando clicado*/
.button:active {
    background-color: #ccc;
}

/*quando o botão ocupa duas posições*/
.button.double {
    grid-column: span 2;
}

/*ocupa 3 posições*/
button.triple {
    grid-column: span 3;
}

/*quando o botão for de operação*/
.button.operation {
    background-color: #fa8231;
    color: #FFF;
}

.button.operation:active {
    background-color: #fa8231cc;
}